@if (control?.touched) {
	<p
		class="text-sm/6 text-red-500"
		data-testid="field-errors"
	>
		@if (getErrorMessage('required')) {
			<span data-testid="field-errors-required">{{ getErrorMessage('required') }}</span>
		}
		@if (getErrorMessage('email')) {
			<span data-testid="field-errors-email">{{ getErrorMessage('email') }}</span>
		}
		@if (getErrorMessage('minlength')) {
			<span data-testid="field-errors-minlength">{{ getErrorMessage('minlength') }}</span>
		}
		@if (getErrorMessage('maxlength')) {
			<span data-testid="field-errors-maxlength">{{ getErrorMessage('maxlength') }}</span>
		}
	</p>
}
